<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543362315044-jdn9qh493uur5ipnnp0q4m4rta56mfh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543362315044-jdn9qh493uur5ipnnp0q4m4rta56mfh5</string>
	<key>API_KEY</key>
	<string>AIzaSyDxwpDOkczPXPOJraWwk55pAHbRxMjyF-U</string>
	<key>GCM_SENDER_ID</key>
	<string>543362315044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miguel.otero.alarm</string>
	<key>PROJECT_ID</key>
	<string>alarm-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>alarm-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543362315044:ios:b369ce550bbb7eac7779b1</string>
</dict>
</plist>